COMPOSE_PROJECT_NAME=shopify_base_app

RAILS_ENV=development
SECRET_TOKEN=asecuretokenwouldnormallygohere

BIND_ON=0.0.0.0:5000
RAILS_MAX_THREADS=1
WEB_CONCURRENCY=1

DATABASE_URL=postgresql://shopify_base_app_development:yourpassword@postgres:5432/shopify_base_app_development?encoding=utf8&pool=5&timeout=5000

POSTGRES_DB='shopify_base_app_development'
POSTGRES_USER='shopify_base_app_development'
POSTGRES_PASSWORD='yourpassword'

REDIS_DEV_URL=redis://redis:6379/0

SHOPIFY_API_KEY=
SHOPIFY_API_SECRET_KEY=
APP_BASE_URL=

assets=precompile
